version: "3.3"
services:
  epsor-test:
    image: {{ epsor_docker_image }}
    networks:
      - default
      - web
    logging:
      driver: json-file
    environment:
      ENVIRONMENT: "{{ epsor_environment }}"
    deploy:
      labels:
        traefik.docker.network: web
        traefik.enable: "true"
        traefik.frontend.rule: Host:{{ epsor_url_access }}
        traefik.port: "3000"
        traefik.protocol: http
      update_config:
        delay: 10s
      restart_policy:
        condition: on-failure
      placement:
        constraints:
          - node.hostname == Karty
networks:
  default:
    driver: overlay
  web:
    external: true
